body {
	text-align: center;
}

.togglebtn {
	margin: 1rem 0;
	background-color: black;
	border: none;
	padding: 0.5rem 1rem;
	color: white;
	cursor: pointer;
}

.controls {
	width: 50%;
	margin: 1rem auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.4rem;
	border: 1px solid black;
	font-weight: 600;
}

.controls > button {
	border: none;
	padding: 0.2rem 0.8rem;
	font-size: 1rem;
	background-color: black;
	color: white;
	cursor: pointer;
}

.controls select {
	padding: 0.2rem 0.7rem;
}

.table {
	margin: 1rem auto;
	border: 1px solid black;
	border-collapse: collapse;
}

.table tr {
	border: 1px solid black;
}

td,
th {
	border: 1px solid black;
	padding: 0.4rem;
}

form {
	width: 30%;
	padding: 1.5rem;
	margin: auto;
	border: 1px solid black;
}

form > h2 {
	margin: 0 0 0.7rem 0;
}

form > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid black;
	padding: 0.5rem;
}

form input {
	padding: 0.2rem;
}

form select {
	width: 98%;
	padding: 0.2rem;
}

input[type='submit'] {
	margin-top: 0.8rem;
	width: 99%;
	padding: 0.5rem 1rem;
	background-color: black;
	border: none;
	color: white;
	cursor: pointer;
}

.error {
	border: none;
	color: red;
}
